/* FONT */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap");

/* GENERAL */

* {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
}

html {
    scroll-behavior: smooth;
}

/* CONTAINERS */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
    padding-bottom: 10px;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

/* HEADER */

.title {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 5rem;
    margin-bottom: 1rem;
    user-select: none;
    -webkit-user-select: none;
}

.title span {
    font-weight: 600;
    color: gray;
}

/* IMAGES AND LAYOUT */

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.column img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* FOOTER */

.footer {
    margin-top: 20px;
}

footer {
    font-size: 0.875rem;
    font-weight: 450;
    color: lightgray;
    user-select: none;
    -webkit-user-select: none;
}

/* DESKTOP */

.error-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
}
